.App {
  justify-content: space-between;
  margin: 4% auto;
  width: 50%;
  min-width: 1024px;
  .nft_preview{
    flex-direction: column;
    width: 36%;
    .dropdownFolders, form{
      z-index: 9999;
      input{
        transition: all 0.4s;
      }
    }
    .nft_name{
      margin-bottom: 30px;
      align-items: center;
      height: 30px;
      z-index: 100;
      img{
        width: 28px;
        margin-right: 6px;
        cursor: pointer;
      }
      label, input{
        padding: 5px;
        width: 100px;     
        margin-left: 5px;
      }
      input{
        background: #D9D9D9;
        border: none;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
      }

    }
    .nft_size{
      label, input{
        padding: 5px;
        width: 80px;     
        margin-left: 5px;
      }
    }
    .nft_generated{
      svg{
        width: auto;
        height: 340px;
        margin: -80px -40px 0px;
      }
      div{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;
        img{
          transition: all 0.4s;
          width: 72px;
          cursor: pointer;
        }
      }
    }
    .favorites{
      flex-direction: column;
      div{
        svg{
          width: auto;
          height: 340px;
          margin: -80px -20px 0px;
        }
        .favorites_side_menu{
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          button{
            width: 20px;
            border: none;
            margin-bottom: 10px;
            cursor: pointer;
          }
          img{
            transition: all 0.4s;
            width: 72px;
          }
        }
      }
    }
  }
  .generator_menu{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    span{
      margin-bottom: 10px;
      .points{
        flex-wrap: wrap;
        width: 140px;
        button{
          border: none;
          background: none;
          margin: 0;
          width: 32.1px;
          height: 32.1px;
          transform: scale(1);
          img{
            transform: scale(1);
            transition: all 0.4s;
            width: 26px;
            cursor: pointer;
          }
        }
      }
      .direction{
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          label{
            display: flex;
            align-items: center;
            img{
              width: 26px;
              margin-right: 6px;
              cursor: pointer;
            }
          }
          button{
            border: none;
          }
        }

      }
    }
    .plus_trait{
      margin-top: 5px;
      width: 110px;
      justify-content: flex-end;
      img{
        transition: all 0.4s;
        cursor: pointer;
        width: 60px;
      }
    }
  }
}

div, span{
  display: flex;
}
.dropbtn {
  margin-top: 0px;
  background: #D9D9D9;
  border: none;
  padding: 5px;
  width: 200px; 

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 4px;
  text-align: left;
  padding-left: 12px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
  transition: all 0.4s;
}
.dropdownFolders{
  margin: 10px 0;
}
.dropdown, .dropdownFolders {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  max-height: 500px;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    div{
      cursor: pointer;
      width: 84%;
    }
    button{
      cursor: pointer;
      border: none;
      height: 18px;
      background: cornflowerblue;
      color: white;
    }
  }
}

.dropdown-content div {
  color: black;
  text-decoration: none;
  display: block;
}      

.dropdown span {
  padding: 4px 0px;
  margin-bottom: 0 !important;
}
.dropdown span:hover {
  background-color: #ddd;
  cursor: pointer;
}

.show {display: block;}  
  // #hair {fill: #705ad7;}
  // #nose {fill: #2db3a9;}
  // #nose-D {fill: #431f59;} 
  // #nose-L {fill: #7cc4c5;}  
  // #earskin {fill: #f1d0e6;}
  // #texture {fill: #5a2ae7;}
  // #blacks {fill: #523259;}
  // #whites {fill: #ffffff;}
  // #nails {fill: #431f59;}
  // #skin {fill: #856dec;}
  // #skin-D {fill: #705ad7;}
  // #skin-L {fill: #9b7fff;}
  // #skin2 {fill: #c8e7c2;}
  // #skin2-D {fill: #a0d9c2;}
  // #skin2-L {fill: #e8fbe2;}
  // #bone {fill: #523259;}
  // #bone-D {fill: #431f59;}
  // #bone-L {fill: #643c64;}
  // #eye {fill: #dfeee8;}
  // #eye-D {fill: #b5c9c0;}
  // #eye-L {fill: #f1f2f2;}
  // #pupil {fill: #ab281b;}
  // #pupil-D {fill: #6e0500;}
  // #pupil-L {fill: #f2a358 ;}